.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  align-items: center;
}


$main: rgb(173, 230, 173);
$support: rgb(216, 194, 223);


.bg-img {
  position: absolute;
  opacity: 50%;
  z-index: -1;

  img {
    width: 100vw;
    height: auto;
  }
}

.mech-table,
.user-table {

  table {

    th {
      border: 2px;
      border-style: solid;
      border-color: black;
      background-color: white;
    }

    tr {
      height: 40px;
    }

    td {
      padding: 5px;
    }

    input {
      width: 40px;
    }

  }

}

@media only screen and (max-width: 767px) {

  .mech-table,
  .user-table {

    table {

      font-size: 8px;
      margin-bottom: 10px;

      tr {
        height: 10px;
      }

      td {
        padding: 1px;
      }

      input {
        width: 30px;
      }

    }

  }
}

.mech-table {

  height: 600px;
  overflow: scroll;

  table {
    tr:nth-child(1n) {
      td {
        border: 1px;
        border-style: solid;
        border-color: black;
        background-color: $main;
      }
    }

    tr:nth-child(2n) {
      td {
        border: 1px;
        border-style: solid;
        border-color: black;
        background-color: rgb(233, 220, 220);
      }
    }
  }

}

.battle-tables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-table {

  table {
    tr {
      td {
        border: 1px;
        border-style: solid;
        border-color: black;
        background-color: $support;
      }
    }
  }
}

.percent-table {
  background-color: $support;
  margin: 50px;
  margin-bottom: -160px;
  border-radius: 10%;

  table {
    width: 250px;
    height: 250px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 992px) {
  .percent-table {
    margin-bottom: 0px;
    border-radius: 0%;

    table {
      width: 200px;
      height: 200px;
      font-size: 10px;
    }

    th,
    td {
      border-style: solid;
      border-color: black;
      border-width: 0.5px;
    }
  }
}

.userBV-input {
  font-size: 30px;
  font-weight: bolder;
  margin: 20px;
  display: flex;
  flex-direction: column;

  input {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    background-color: $support;
  }
}

Nav {
  background-color: $main;
  border-radius: 10%;
  margin-top: 10px;
}